%% -*- erlang -*-
%% Config file for exodmapi application
{deps_dir, ["deps"]}.
{deps,
 [{exo,".*",
   {git,
    "git://github.com/Feuerlabs/exo",
    {branch,master}}},
  {lager,".*",
   {git,"git://github.com/Feuerlabs/lager",
    {branch,master}}}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
{ct_extra_params, ""}.
